/* Estilos Gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Container da Página */
.login-container {
  display: flex;
  min-height: 100vh; /* Garante que a página ocupe toda a altura da tela */
}

.sidebar {
  width: 250px; /* Largura do menu lateral */
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fixa o menu à esquerda */
  top: 0;
  bottom: 0;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
}

.sidebar ul li a:hover {
  color: #9c4e97;
}

.logout-btn {
  background: #9c4e97;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.logout-btn:hover {
  background: #7f3d72;
}

/* Corpo principal */
.main-content {
  margin-left: 250px; /* Desloca o conteúdo para a direita, deixando espaço para o menu */
  padding: 20px;
  background-color: #fff;
  width: calc(100% - 250px); /* Garante que o conteúdo ocupe o restante da tela */
}

.main-content header {
  text-align: center; /* Centraliza o cabeçalho */
  margin-bottom: 20px;
}

.main-content h1 {
  color: #9c4e97;
}

.main-content h2 {
  font-size: 1.5rem;
  color: #333;
  text-align: center; /* Centraliza o texto do nome de usuário */
}

.user-name {
  color: #9c4e97;
}

.main-content p {
  font-size: 1.2rem;
  color: #666;
  text-align: center; /* Centraliza o parágrafo */
}

/* Estilo do Conteúdo - Alinhamento */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  text-align: left; /* Alinha os itens da lista à esquerda */
  margin: 10px 0;
}

ul li a {
  text-decoration: none;
  color: #333;
}

ul li a:hover {
  color: #9c4e97;
}
